<div class="container-fluid px-4">
    <h1 class="mt-4">Users</h1>
    <!-- Flex container for breadcrumb and button -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Statistics</a></li>
            <li class="breadcrumb-item active">Users</li>
        </ol>
        <!-- Button "Add User" -->

    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Users
        </div>
        
        <div class="card-body">

            <ngx-charts-bar-vertical
            [view]="view"
            
            [results]="graphValues"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="false"
          
            >
    </ngx-charts-bar-vertical>


        
</div>
</div>

</div>

